* {
  font-family: 'Noto Sans KR', sans-serif;
}

html, body {
  overflow: hidden;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgb(94, 130, 106);
}

.display-none {
  display: none !important;
}

.navbar {
  position: sticky;
  background-color: rgb(86, 145, 255);
  text-align: center;
  padding: 5px;
  margin-bottom: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.navbar > select {
  background-color: rgb(86, 145, 255);
  border: none;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
}

.scrolling-wrapper-flexbox {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

.day {
  color: white;
  font-weight: 700;
  padding: 5px 0px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pad {
  padding: 0px 30px;
}

.card {
  flex: 0 0 auto;
  width: 70vw;
  font-size: 20px;
  height: auto;
  border-radius: 10px;
  word-break: keep-all;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

.table {
  list-style: none;
  padding: 10px 20px;
  margin: 0px;
}

.table > li {
  display: block;
  cursor: default;
  padding: 10px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.table > li:hover {
  background-color: rgb(231, 231, 231);
}

.sp {
  text-align: center;
}

.credit {
  position: fixed;
  bottom: 0px;
  color: white;
  margin: 5px 10px;
}

.credit> a:visited {
  color: white;
}

.credit> a:hover {
  color: rgb(189, 189, 189);
}
